<launch>
	<!-- Laad het model in, argument is by default de lynxmotion urdf die -->
	<arg name="model" default='$(find robot_arm_simulatie_bp)/urdf/lynxmotion_arm.urdf' />
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>

	<!-- Start nodes op die de robot arm kunnen aansturen -->
	<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<<node name="joint_aansturing_node" pkg="robot_arm_simulatie_bp" type="joint_aansturing_node" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<!-- Start rviz op met gegeven instellingen -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_arm_simulatie_bp)/urdf/urdf.rviz" required="true" />
</launch>
